* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
.content{    
    /* float: left; */
    width: 100%;
    background-color: #f9f9f9;
    padding-bottom: 10%;
    height: auto;
    
}