
.heading-c{
    position: relative;
    width: 100%;
    font-size: 1.4em;    
    padding: 2% 0%;
}

.container{
    min-height: 100vh;
    position: relative;
    /* padding: 0% 8.33%; */
    height: auto;
    
}
.sub-c{

    display: flex;
}
.right-container{
    /* padding-right:8.33%;     */
}

.graph-c{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    margin-bottom: 3%;    
}


.graph{
    background-color: white;
}

.files-bar{
       text-align: center;
       height: auto;       
       background-color: #F7F7F7;
}
.file{
    display: inline-block; 
    border-radius: 5px;    
}

nav ul { 
    height: 40vh;
}
nav ul{overflow:hidden; overflow-y:scroll;}

input[type=radio] + label{
    font-size: 0.8em;
    display: block;
    cursor: pointer;
    user-select: none;
    color: #57606A;
    background-color: white;
    padding: .625rem 2rem;
}

input[type=radio]{
    position: absolute;
    visibility: hidden; 
    display: none;  
}


input[type=radio]:checked + label{    
    background-color: #eee;
    color:  #0C458A;
}

.upload-c{

}

.upload-btn{
    margin: 15% 0%;    
    display: inline-block;
    background-color: rgb(232, 27, 51);  
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    padding: .6rem 1.5rem;            
    color: white;    
    border-radius: 5px;
    border: none;  
    cursor: pointer; 
    text-align: center;
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: 500;
    transition: all .22s;
}

.upload-btn:hover{
    transform: translateY(-2px);
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
    filter: brightness(130%);
}

input[type=file]{
    position: absolute;
    visibility: hidden; 
    display: none;
}

.table-c{
    
}