.App {
  text-align: center;
  color: #191919;
}

.App-header {
  background-color: #122640;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.8em;
}

.login-container {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}

.login-box {
  width: 30%;
  /* border: 1px solid red; */
}

.log-in {
  font-size: 1.3em;
}

.username-container,
.password-container {
  min-width: 80%;
  width: 100%;
  /* border: 2px solid green; */
  /*text-align: left;*/
  padding: 8px;
}

.username-label,
.password-label {
  font-size: 0.9em;
}

.username {
}

.password {
}

input {
  min-width: 65%;
  width: 100%;
  font-size: 1em;
}

.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-c {
  width: 100%;
}

.btn {
  margin-top: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  color: white;
  /* border-radius: 45px; */
  width: 100%;
  height: 50px;
  background-color: blue;/
  /* background: linear-gradient( hsl(166, 100%, 42%), hsl(152, 100%, 42%) ); */
  /* box-shadow: lightgrey 0px 2px 2px 2px; */
  /* transition: background-color 0s ease-in; */
  user-select: none;
}

.btn:hover {
  position: relative;
  top: 3px;
  cursor: pointer;

  /* box-shadow: lightgrey 0px 2px 2px 3px; */
  /* background: hsl(150, 100%, 35%); */
  

} 
.btn:active {
  position: relative;
  top: 3px;
  /* background-color: hsl(151, 48%, 20%); */
}