
.App {
  text-align: center;
  color: #36343F;
  max-height: 100vh;
  
}

.App-header {
  background-color: #122640;
  padding: 1.5%;
  color: white;
}

.App-title {
  text-align: left;
  font-size: 1.2em;
}

.signin-container{
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 90vh;  
  min-height: auto;  
  padding: 0% 4% ;
  
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.error-msg{
  /* color: red; */
  font-size: 0.7em;
  text-align: left;
}
.login-box {
  width: 100%;
  /* border: 1px solid red; */
}


.icon{
  width: 100%;
  height: 30vh;
  stroke-width: 1;
  stroke: #DADADA;
}


.label{
  padding: 2em 0em;
  display: flex;
}

.form{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid green; */
  padding-top: 4%;
}

.fc{
  width: 80%;
}
.log-in {
  font-size: 1.3em;
}

.username-container,
.password-container {
  min-width: 100%;
  width: 100%;
  padding: 2%;
  /* border: 2px solid green; */
  text-align: left;
 }

.username-label,
.password-label {
  font-size: 0.9em;
}

.username {
}

.password {
}

input {
  min-width: 100%;
  width: 100%;
  font-size: 1em;
  border: none;
  border-bottom: solid 0.6px grey;
}

.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-c {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  margin-top: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9em;
  border-radius: 5px;
  width: 60%;
  height: 50px;
  /* background: linear-gradient( hsl(166, 100%, 42%), hsl(152, 100%, 42%) ); */
  /* box-shadow: lightgrey 0px 2px 2px 2px; */
  /* transition: background-color 0s ease-in; */
  user-select: none;
}

.signup{
  background-color: #0D4488;
  color: white;
}

.signin{
  color: #0D4488 ;
  border: 1px solid #0D4488;    
}
.btn:hover {
  /* position: relative; */
  /* top: 3px; */
  cursor: pointer;
  /* box-shadow: lightgrey 0px 2px 2px 3px; */
  /* background: hsl(150, 100%, 35%); */
  

} 
.btn:active {
  position: relative;
  top: 3px;
  /* background-color: hsl(151, 48%, 20%); */
}