
.side-c{
    width: 100%;
    background-color:white;
}
.tab{
    width: 100%;  
    display: flex;
    justify-content: center;
    align-items: center;  
    cursor: pointer;
}

.tab-item {
    /* display: inline-block; */
    padding: 2%;    
    float: left;
    list-style: none;
    transition: all 0.3s;
}
.tab-link:hover{
    background: #f9f9f9;
}

.tab-link{
    padding: 1rem 3em;
    float: left;
    list-style: none;
    transition: all 0.3s;
    text-decoration: none;
    font-weight: 500;
    color: #666;
    stroke:#bbb;
}
.icon{
    width: 22px; 
    height: 20px;
}

.tab-item a {
    text-decoration: none;
    font-weight: 500;
    color: #666;
    stroke:#bbb;
}

.tab-link i{
    vertical-align: -3px;
    padding-right: .5rem;
}

.tab-item:active{
    color: #24292e;
    border:6px solid red ;
    background: #f9f9f9;
    
}
